<link href="/assets/images/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" type="image/png" />
<link href="/assets/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" type="image/png" />
<link href="/assets/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" type="image/png" />
<link href="/assets/images/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png" />
<link href="/assets/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="144x144" type="image/png" />
<link href="/favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />
