---
layout: default
title: Projects
permalink: /projects/
---

{% for project in site.projects %}

  {% assign index_in_other_projects = forloop.index0|minus:2|modulo:3 %}
  {% if forloop.index0 == 0 %}
    <div class="row featured-projects">
  {% elsif index_in_other_projects == 0 %}
    <div class="row other-projects">
  {% endif %}

    {% if forloop.index0 < 2 %}
      <div class="col-md-6">
        {% include projects/featured.html project=project %}
      </div>
    {% else %}
      <div class="col-md-4">
        non-featured projects go here
      </div>
    {% endif %}

  {% if forloop.index0 == 1 or forloop.index0 == forloop.length or index_in_other_projects == 2 %}
    </div>
  {% endif %}
{% endfor %}
</div>
