---
layout: default
title: Blog
permalink: /blog/
---

<div class="blog-container">
{% for post in site.posts reversed %}
  <div class="row" id="{{ post.slug }}">
    <div class="col-sm-3 left">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="date"> <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time></p>
    </div>
    <div class="col-sm-8 right">
      {% if post.blurb %}
        {{ post.blurb }}
      {% else %}
        {{ post.content | strip_html | truncatewords:50 }}
      {% endif %}
      <a href="{{ post.url }}">&rarr;</a>
    </div>
  </div>

  <hr />
{% endfor %}
</div>
