---
layout: default
title: Projects
permalink: /projects/
description: "I always have something I'm working on. Here are some of those things I enjoyed most."
---

{% assign featured_projects = site.projects | where: "featured", true %}
{% assign nonfeatured_projects = site.projects | where_exp: "p", "p.archived != true" %}

<div class="row featured-projects">
{% for project in featured_projects reversed %}
  <div class="col-md-6">
    {% include projects/featured.html project=project %}
  </div>
{% endfor %}
</div>

<div class="hr-with-text">
  <span class="hr-text-container">
    <span>&#9650;</span> Featured <span>&middot;</span> All <span>&#9660;</span>
  </span>
</div>



{% for project in nonfeatured_projects reversed %}

  {% assign index_in_projects = forloop.index0|modulo:3 %}
  {% if index_in_projects == 0 %}
    <div class="row other-projects">
  {% endif %}

      <div class="col-md-4">
        {% include projects/thumbnail.html project=project %}
      </div>

  {% if forloop.index0 == forloop.length or index_in_projects == 2 %}
    </div>
  {% endif %}
{% endfor %}
</div>
