<div class="row project-feature bottom-buffer" id="feature-{{ project.slug }}">
  <div class="col-md-10 col-md-offset-1">
    <a href="{{ project.url }}"><img src="{% asset_path "projects/{{ project.image }}" %}" width="180px" height="180px" class="img-circle drop-shadow" /></a>
    <h1>{{ project.title }}</h1>
    {% if project.caption %}
    <div class="caption">{{ project.caption }}</div>
    {% endif %}
    <p class="project-more"><a href="{{ project.url }}">More &rarr;</a></p>
  </div>
</div>
