---
layout: default
title: Running
permalink: /running/races
redirect_from:
 - /races
 - /running/
description: "I run a lot. These are races I've done."
---

<div class="races-container races-archive">
  {% include running-index-header.html %}

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1 class="races-container-header">Races</h1>
      <table class="table">
        <tbody>
          {% assign year = -1 %}
          {% assign month = -1 %}
          {% assign displayedBBInfo = false %}
          {% for race in site.data.races reversed %}
            {% if race.upcoming %}{% continue %}{% endif %}
      
            {% assign race_year = race.date|date:"%Y" %}
            {% assign race_month = race.date|date:"%Y%m" %}
      
            {% if race_month != month %}
              <tr>
                {% if race_year != year %}
                  {% assign year = race_year %}
                  <th>{{ race_year }}</th>
                {% else %}
                  <th>&nbsp;</th>
                {% endif %}
                {% assign month = race_month %}
                <th colspan="3">{{ race.date|date:"%B" }}</th>
              </tr>
            {% endif %}
      
            <tr>
              <td>&nbsp;</th>
              <td>
                {% if race.url %}
                  <a href="{{ race.url }}">{{ race.name }}</a>
                {% else %}
                  {{ race.name }}
                {% endif %}
              </td>
              <td>{{ race.distance }}</td>
              <td>
                {% if race.rating %}
                  <small>{{ race.rating }}{% unless displayedBBInfo %}*{% endunless %}</small>
                {% endif %}
              </td>
              <td>
                {% if race.time %}
                  {% if race.results_url %}
                    <a href="{{ race.results_url}}">{{ race.time }}</a>
                  {% else %}
                    {{ race.time }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            {% assign displayedBBInfo = true %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div><!-- end last year -->
  <hr />
</div>

<p class="text-center">
  *Rating corresponds to <a href="http://bb10k.bolderboulder.com/waves-qualifying/">Bolder Boulder's Qualifying Waves</a> (<a href="/assets/images/bolderboulder-qualifying-times-2019.pdf">chart</a>).
</p>
<p class="text-center">
  <a title="it may take me a while to log these..." href="https://www.strava.com/athletes/5810518">View more...</a>
</p>
