---
layout: default
title: Upcoming Races
permalink: /running/upcoming
description: "I run a lot. These are races I'm excited to run."
---
<div class="races-container races-archive">
  {% include running-index-header.html %}

  {% assign upcoming = site.data.races | where:'upcoming',true %}
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
      <h1 class="races-container-header">Upcoming Races</h1>
        <dl>
          {% for race in upcoming %}
            <dt>{{ race.date|date: '%b %d, %Y' }}</dt>
            <dd><a href="{{ race.url }}">{{ race.name }}</a> &mdash; {{ race.distance }}</dd>
          {% endfor %}
        </dl>
    </div>
  </div>

</div>
