<footer id="footer" class="navbar navbar-fixed-bottom" role="navigation">
<ul class="nav">
  <li class="contact-container"><a href="mailto:%6d%65@%70%65%74%65%72%63%6f%6d%70%65%72%6e%6f%6c%6c%65.%63%6f%6d"><i class="fa fa-envelope"></i></a></li>
  <li class="twitter-container"><a href="https://twitter.com/{{ site.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
  <li class="github-container"><a href="https://github.com/{{ site.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
  <li class="rss-container"><a href="/" target="blank"><i class="fa fa-rss-square"></i></a></li>
</ul>
</footer>
