<footer id="footer" class="navbar navbar-fixed-bottom" role="navigation">
<ul class="nav">
  <li class="contact-container"><a href="mailto:{{ site.hex_email }}"><i class="fa fa-envelope"></i></a></li>
  <li class="github-container"><a title="@thelowlypeon on Github" href="https://github.com/{{ site.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
  <li class="rss-container"><a title="RSS feed" href="/feed.xml"><i class="fa fa-arr-ess-ess-square"></i></a></li>
  <li class="privacy-container"><a title="View Privacy Policy for all apps" href="/privacy"><i class="fa fa-eye-slash"></i></a></li>
</ul>
</footer>
