<header class="site-header">

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a href="{{ site.root_url }}" class="navbar-brand" title="{{ site.title }}">{{ site.title }}</a>
    </div>

  <div class="" id="main-navigation-collapse">
    <ul class="nav navbar-nav">

        {% for my_page in (site.pages | sort:"name") %}
          {% if my_page.title %}
          <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      </div>
    </nav>

</header>
