<head>

{% include meta/locale.html %}
{% include meta/robots.html %}
{% include meta/title.html %}
{% include meta/description.html %}
{% include meta/keywords.html %}
{% include meta/image.html %}
{% include meta/url.html %}
{% include meta/sitename.html %}
{% include meta/location.html %}
{% include meta/seealso.html %}
{% include meta/schema.html %}
{% include meta/favicon.html %}

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | prepend: site.url }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ page.stylesheet | default: 'main.css' | prepend: '/assets/css/' }}">
{% include google_analytics.html %}

</head>
