$black: #555;
$gray: #777;
$chicagoblue: #b3ddf2;
$blue: #428bca;
$chicagored: #f10005;
$white: #fcfcfc;

a {
  &:visited { color: $blue; }
  &:hover { background-color: $white; text-decoration: none; }
}
body {
  font-family: "Verdana", "Bitstream Vera Sans", sans-serif !important;
  color: $black;
  background-color: $white !important;
  padding-bottom: 50px;
}
h1, h2, h3, h4, h5 {
  color: $black;
  span { font-size: .5em; }
}

.top-buffer {
    margin-top: 40px;
}
.bottom-buffer {
    margin-bottom: 40px;
}

#intro {
  a , p { color: $gray; }
  img {
    background-color: white;
    //border: 3px solid #1d6298;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  p {
    font-size: 0.9em;
    line-height: 1.1em;
  }
  text-align: center;
}
@media (min-width: 768px) {
  #intro {
    text-align: left;
    display: table;
    div {
      height: 180px; display: table-cell !important; position: absolute; top: 50%; margin-top: -120px;
    }
  }
}

.navbar {
  .navbar-brand {
    font-size: 28px;
    font-weight: bold;
  }
  font-variant: small-caps;
  ul.navbar-nav {
    li a {
      padding-top: 20px;
      padding-bottom: 10px;
      text-transform: lowercase;
    }
  }
  //&.navbar-default { border-bottom: none; }
}

@media (max-width: 767px) {
  .navbar ul.navbar-nav li a { 
    padding: 5px;
    text-align: center;
  }

}

/*
hr#header-divider {
  margin: 0;
  border: 0;
  clear: both;
  margin: 0 6px 0 6px;
  height: 9px;
  background-image: url("http://petercompernolle.com/layout/images/header-repeat.png");
  background-repeat: repeat-x;
}
*/

#footer {
  background-color: #fcfcfc !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  text-align: center;
  li {
    display: inline-block;
    line-height: 2em;
    &.twitter-container span.twitter-name { display: none; }
  }
}
@media (min-width: 768px) {
    li.twitter-container {
        &:hover {
            span.twitter-name { display: inline-block !important; margin-left: 5px; } //only on large screens when left justified
        }
    }
}

#etc-page , .blog-container {
  div.left p , div.right .details {
    color: $gray;
    font-style: italic;
  }
  div.row {
    margin: 2em 0;
  }
  div.left {
    text-align: right;
    h3 {
      margin-top: 0;
      a {
        & , &:visited { color: $black; }
        &:hover { color: $gray; }
      }
    }
  }
  div.right {
    .details {
      margin-top: 2em;
    }
    img {
      margin: 10px 0;
      max-width: 100%;
      display: block;
      height: auto;
    }
    word-wrap:break-word;
    color: $gray;
    //padding-top: 24px;
    text-align: left;
    a.edit {
      display: none;
    }
    &:hover a.edit {
      display: inline-block;
    }
    p {
      line-height: 1.8em;
    }
  }
  hr {
    color: $gray;
    margin: 20px 40%;
  }
}

.blog-container p.date {
  font-size: 0.9em;
}

.blog-archive dt {
  font-variant: small-caps;
  margin-top: 0.5em;
}
.blog-archive dl dt:first-child {
  margin-top: 0;
}

.blog-container h1.blog-container-header {
  font-size:16px;
  font-variant:small-caps;
  text-align: center;
}

@media (max-width: 767px) {
  #etc-page {
    div.left, div.right {
      text-align: center;
    }
    ul { padding-left: 0; list-style-type: none; }
  }
  .blog-container {
    div.right , div.left {
      text-align: left;
    }
  }
  .navbar {
    .navbar-header {
      margin-top: 10px;
      .navbar-brand {
        float: none;
      }
    }
    text-align: center;
    .nav.navbar-nav {
      margin: 0;
      li {
        display: inline-block;
      }
    }
  }
  .welcome-message.top-buffer {
    margin-top: 10px;
  }
}

pre, code {
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 100%;
}

img.drop-shadow {
  background-color: white;
  //border: 3px solid #1d6298;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.ad {
  img { max-width: 100%; }
  border: 1px solid lighten($gray, 40%);
  padding: 8px;
  p {
    font-size: 0.8em;
    text-decoration: none;
    font-style: normal !important;
    text-align: justify;
  }
  p.call-to-action {
    text-align: center;
  }
  a:hover { text-decoration: none !important; }
  margin-bottom: 10px;
}

.project-feature , .project-thumbnail {
  text-align: center;
  h1 a, h1 a:visited { color: $black; }
}

@media (min-width: 992px) {
  .project-thumbnail {
    text-align: left;
    .caption {
      h1 , h2 , h3 { margin-top: 0; font-size: 1em; font-weight: bold; }
      p { font-size: 0.9em; }
    }
  }
}

img.app-icon {
  position: relative;
  display: inline-block;
  border: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 23px;
}

.film.film-thumbnail {
  text-align: center;
  h2 {
    a { color: $black; }
    font-size: 18px;
  }
  p { font-style: italic; color: $gray; }
}
.video-container {
  position: relative;
  padding-top: 10px;
  height: 0;
  overflow: hidden;
  margin-bottom: 6em;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.syndicated {
  span { font-variant: small-caps; }
  font-size: 0.9em;
}
