<h1 id="title"><a href="/"><span id="name-first">Peter</span> <span id="name-j">J</span> <span id="name-last">Compernolle</span></a></h1>
<div class="row" id="contact-info">
  <p>
    <span id="address">Chicago</span>
    <span id="contact"><a href="mailto:{{ site.hex_email }}">me<span style="display:none;">null</span>@petercompernolle<span style="display:none">blabla</span>.com</a></span>
    <span id="github">/(<a href="http://twitter.com/{{ site.twitter_username }}">@</a>|<a href="https://github.com/{{ site.github_username }}">github.com|<a href="https://bitbucket.org/{{ site.bitbucket_username }}">bitbucket.org</a>)\/thelowlypeon/</span>
  </p>
</div>
