<div id="basics" class="row section">
  <div class="two columns alpha">
    <h2>Summary</h2>
  </div>

  <div class="fourteen columns omega detail">
    <p>
      With a BA in mathematics and computer science from Colorado College, I have always been drawn to solving complex problems.
      I've spent over four years analyzing data and customizing software for an international manufacturing company while living in China, started two companies, lead a team of engineers, been lead engineer on several projects, and have built some pretty amazing things.
    </p>
    <p>
      I am currently looking to exercise and practice my skills in the software development process and to make awesome stuff, and to grow as much as I can as an engineer.
    </p>
  </div>
</div>
