<div id="basics" class="row section">
  <div class="two columns alpha">
    <h2>Summary</h2>
  </div>

  <div class="fourteen columns omega detail">
    <p>
      With a BA in mathematics and computer science from Colorado College, I have always been drawn to solving complex problems.
      I've spent over four years analyzing data and customizing software for an international corporation while living in China, started two companies, lead multiple teams, been lead engineer on several projects, and have built some pretty amazing things.
    </p>
    <p>
      I care deeply about work/life balance, respect for user privacy, and diversity, and believe the higher cost of quality and care now will later yield benefits many-fold greater.
      I am only interested in working on projects or for companies with similar values.
    </p>
  </div>
</div>
