<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xml:lang="en" lang="en" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">

  {% include head.html %}

  <body>
    <main role="main">
      <div class="content">

        {% include header.html %}

        <div id="main-content-container">
            <div id="main-content">
                <div class="container">
                    {{ content }}
                </div>
            </div>
        </div>

        {% if site.show_footer %}{% include footer.html %}{% endif %}

      </div><!-- content -->
    </main>
    <script type="text/javascript" src="/assets/scripts/main.js"></script>
  </body>
</html>
