<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xml:lang="en" lang="en" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
{% include head.html %}
{% assign year = site.time | date: '%Y' %}
<body>
  <div class="container" id="resume">
    <div class="sixteen columns">
    
      {% include resume/header.html %}
    
      {% include resume/summary.html %}
    
      {% if site.data.resume.experience %}
        {% include resume/experience.html %}
      {% endif %}
    
      {% if site.data.resume.skills %}
        {% include resume/skills.html %}
      {% endif %}
    
      {% if site.data.resume.education %}
        {% include resume/education.html %}
      {% endif %}
    
      {% if page.references %}
        {% include resume/references.html %}
      {% else %}
        <div id="footer">Code samples and references available upon request</div>
      {% endif %}
    
    </div>
  </div>
  {% include google_analytics.html %}
</body>
</html>
